.business-slider{
	width:100%;
	margin-top:11rem;
	position:relative;

	@include breakpoint(tablet){ 
		margin-top:2.2rem;
	}

	@include breakpoint(desktop){ 
		margin-top:11.5rem;
		
	}

	.controls{
		position:absolute;
			right:8.5%;
			top:19%;
			z-index: 100;

			color:white;
			@include fontSize(26,11,14)
			font-weight: 700;
			letter-spacing: 0.05em;

		@include breakpoint(tablet){ 
			right:10%;
			top:20.2%;
		}

		@include breakpoint(desktop){ 
			right:11%;
			top:12.5rem;
		}

		.slider__controls{
			float:left;	
			@include fontSize(26,11,16)
		}

		.slider__counter{
			float:left;
			margin:0 1.5rem;

			@include breakpoint(tablet){ 
				margin:0 0.35rem;
			}

			@include breakpoint(desktop){ 
				margin:0 1.3rem;
			}
		}

		.current{
			color:$yellow;
		}
	}

	.slider{
		.slide{
			position:relative;

			.slide-img{
			
			}

			.description{
				position:absolute;
				z-index: 100;
				top:17%;
				left:12.5%;

				@include breakpoint(tablet){ 
					top:18.5%;
					left:13.2%;
				}

				@include breakpoint(desktop){ 
					top:18.5%;
					left:13.2%;

					
				}

				.title{
					font-family: Airways;
					color:$yellow;
					@include fontSize(50,18,30);
					margin-bottom:2rem;

					@include breakpoint(tablet){ 
						margin-bottom:0.5rem;
					}

					@include breakpoint(desktop){ 
						margin-bottom:1.6rem;
					}
				}

				.subTitle{
					@include fontSize(36,16,28);
					color:$white;
					width:60%;
					font-weight:900;
					line-height: 1.06;
					letter-spacing: 0.05em;
					margin-bottom:6.6rem;
					
					@include breakpoint(tablet){ 
						line-height: 1.21;
						width:50%;
						margin-bottom:4.2rem;
					}

					@include breakpoint(desktop){ 
						line-height: 1.25;
						margin-bottom:0.8rem;
						width:45%;
					}
				}

				.subTitle-2{
					font-size:calculateRem(14);
					color:#e1e0e0;
					width:35%;
					line-height: 1.28;
					letter-spacing: 0.05em;
					display: none;
					
					@include breakpoint(tablet){ 
						display: none;
					}

					@include breakpoint(desktop){ 
						display: block;
						margin-bottom:5.4rem;
					}
				}
			}
		}
	}

}