.diaporama{
	width:100%;
	position:relative;

	@include breakpoint(tablet){
		
	}

	@include breakpoint(desktop){
			
	}

	&-slider{

		.slide{
			position: relative;
			width: 100%;
			
			img{
				width:100%;
			}

			.label{
				z-index: 100;
				padding:1rem 1.5rem;
				@include breakpoint(tablet){
					padding:1.5rem 2.8rem;
				}

				@include breakpoint(desktop){
					padding:1.5rem 3rem;
				}
			}
		}
	}

	&-controls{
		position:absolute;
		z-index:400;
		cursor: pointer;

		@include breakpoint(tablet){
		
		}

		@include breakpoint(desktop){
				
		}
	}

	&-next{

		display:inline-block;
		right:4.2rem;
		top:43.2%;
		background:url('../assets/images/sliders/hero/control-right-yellow.png') no-repeat;
		background-size:100% 100%;
		height:8.1vw;
		width:8.1vw;
		visibility:visible;
		
		@include breakpoint(tablet){ 
			right:3rem;
			visibility:visible;
			top:49%;
			height:4vw;
			width:4vw;
		}

		@include breakpoint(desktop){ 
			right:5.5rem;
			visibility:hidden;
		}

		&:hover{
			background:url('../assets/images/sliders/hero/control-right-white.png') no-repeat;
			background-size:100% 100%;
			height:8.1vw;
			width:8.1vw;

			@include breakpoint(tablet){ 
				height:4vw;
				width:4vw;
			}
		}
	}

	&-prev{

		display:inline-block;
		left:4.2rem;
		top:43.2%;
		background:url('../assets/images/sliders/hero/control-left-yellow.png') no-repeat;
		background-size:100% 100%;
		height:8.1vw;
		width:8.1vw;
		visibility:visible;
		transition:all 0.3s ease;

		@include breakpoint(tablet){ 
			top:49%;
			left:2.9rem;
			height:4vw;
			width:4vw;
			visibility:visible;
		}

		@include breakpoint(desktop){ 
			left:4.9rem;
			visibility:hidden;
		}

		&:hover{
			background:url('../assets/images/sliders/hero/control-left-white.png') no-repeat;
			background-size:100% 100%;
			height:8.1vw;
			width:8.1vw;

			@include breakpoint(tablet){ 
				height:4vw;
				width:4vw;
			}
		}
	}

	&-nav{
		
		position:absolute;
		z-index:350;
		left:50%;
		margin-left:-18%;
		display: none;
		
		@include breakpoint(tablet){
			display: none;
		}

		@include breakpoint(desktop){
			bottom:6rem;
			display: block;
		}

		&-prev{
		
			display:inline-block;
			left:4.9rem;
			background:url('../assets/images/sliders/hero/control-left-yellow.png') no-repeat;
			background-size:60% 60%;
			height:3.2vw;
			width:3.2vw;
			visibility:hidden;
			transition:all 0.3s ease;

			@include breakpoint(tablet){ 
				left:2.1rem;
				visibility:visible;
				
			}

			@include breakpoint(desktop){ 
				left:-10.1%;
				top:2.2rem;
				visibility:visible;
				display: block;
			}

			&:hover{
				background:url('../assets/images/sliders/hero/control-left-white.png') no-repeat;
				background-size:60% 60%;
				height:3.2vw;
				width:3.2vw;
			}
		}

		&-next{

			display:inline-block;
			right:5.5rem;
			background:url('../assets/images/sliders/hero/control-right-yellow.png') no-repeat;
			background-size:60% 60%;
			height:3.2vw;
			width:3.2vw;
			visibility:hidden;
			
			@include breakpoint(tablet){ 
				right:2.4rem;
				visibility:visible;
				
			}

			@include breakpoint(desktop){ 
				right:-13.7%;
				top:2.2rem;
				visibility:visible;
				display: block;
			}

			&:hover{
				background:url('../assets/images/sliders/hero/control-right-white.png') no-repeat;
				background-size:60% 60%;
				height:3.2vw;
				width:3.2vw;
			}
		}

		&-controls{
			position:absolute;
			z-index:400;
			cursor:pointer;
		}

		&-slider{

			@include breakpoint(tablet){
			
			}

			@include breakpoint(desktop){
					
			}
		}


		&-slide{
			display:inline-block;
			@include breakpoint(tablet){
				
			}

			@include breakpoint(desktop){
				margin:0 0.95rem;	
			}
		}
	}


}