.news-de-la-semaine{
	//margin:50px 0;//testing parametar
	
	width:87.5%;
	margin:0 auto;
	@include breakpoint(tablet){
		width:93.63%;
		margin:0;
	}

	.container-1{
		display:block;
		float:none;

		@include breakpoint(tablet){
			padding-top:8%;
			width:54.265%;
			float:left;
		}

	}

	.container-2{
		display:block;
		float:none;

		@include breakpoint(tablet){
			width:45.735%;
			float:left;
		}
		
	}

}