a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: 100; }

* {
  -webkit-tap-highlight-color: transparent !important; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

b,
strong {
  font-weight: bold; }

em,
i {
  font-style: italic; }

u {
  text-decoration: underline; }

a img {
  border: none; }

a, button {
  cursor: pointer;
  outline: none; }

a {
  color: inherit; }

input {
  outline: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

* {
  box-sizing: border-box; }

html {
  font-size: 10px; }
  @media screen and (max-width: 767px) {
    html {
      font-size: 1.5625vw; } }
  @media screen and (min-width: 768px) {
    html {
      font-size: 1.30208vw; } }
  @media screen and (min-width: 1024px) {
    html {
      font-size: 0.58824vw; } }

@font-face {
  font-family: Airways;
  src: url("../assets/fonts/Airways.woff"); }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.float--left {
  float: left; }

.float--right {
  float: right; }

.text--regular {
  font-weight: 400; }

.text--bold {
  font-weight: 700; }

.text--bolder {
  font-weight: 900; }

.text--center {
  text-align: center; }

html.no-scroll {
  overflow-y: hidden; }

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-size: 100%;
  position: relative;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden; }
  body.no-scroll {
    overflow-y: hidden; }

.row {
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  display: block; }
  @media screen and (min-width: 768px) {
    .wrapper {
      width: 84.63%;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (min-width: 1024px) {
    .wrapper {
      width: 79.47%;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0; } }
  .wrapper--main {
    width: 100%;
    margin: 0 auto;
    margin-top: 8.5rem; }
    @media screen and (min-width: 768px) {
      .wrapper--main {
        margin-top: 8.5rem; } }
    @media screen and (min-width: 1024px) {
      .wrapper--main {
        margin-top: 6.6rem; } }
    .wrapper--main.active {
      margin-left: 84.7031%;
      position: fixed;
      overflow-y: hidden; }
      @media screen and (min-width: 768px) {
        .wrapper--main.active {
          margin-left: 70.7031%; } }
      @media screen and (min-width: 1024px) {
        .wrapper--main.active {
          padding-left: auto; } }

.box {
  width: 100%;
  height: 2000px;
  background-color: blue; }

.c-header {
  background-color: #000000;
  position: fixed;
  top: 0;
  height: 8.5rem;
  z-index: 1000; }
  @media screen and (min-width: 1024px) {
    .c-header {
      height: 6.6rem;
      background-color: #000000; } }

.nav--mob {
  display: block;
  position: relative;
  text-align: center;
  z-index: 1000;
  height: 8.5rem; }
  .nav--mob__burger {
    color: #ffcc33;
    position: absolute;
    left: 4rem;
    top: 2.5rem;
    font-size: 4rem; }
  .nav--mob__search {
    color: #ffffff;
    position: absolute;
    right: 4.4rem;
    top: 2.8rem;
    font-size: 3rem; }
  .nav--mob__menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 84.7031%;
    text-align: left;
    position: relative;
    top: -0;
    padding-left: 3.8rem;
    padding-top: 14.3rem;
    height: 100vh;
    overflow-y: scroll; }
    .nav--mob__menu #myBusiness .active {
      color: #ffcc33; }
    @media screen and (min-width: 768px) {
      .nav--mob__menu {
        display: none;
        width: 70.7031%;
        top: -0;
        padding-left: 6.7rem;
        padding-top: 12.6rem; } }
    @media screen and (min-width: 1024px) {
      .nav--mob__menu {
        display: none; } }
  .nav--mob__social {
    margin-top: 20.7rem;
    margin-left: 11.7rem;
    padding-bottom: 12.5rem; }
    .nav--mob__social i {
      font-size: 5.5rem;
      margin-right: 7.5rem; }
    .nav--mob__social .fa-youtube-play {
      font-size: 6.7rem;
      position: relative;
      left: 2.5rem;
      top: 0.2rem; }
    @media screen and (min-width: 768px) {
      .nav--mob__social {
        margin-top: 20.9rem;
        margin-left: 9.5rem;
        padding-bottom: 12.5rem; }
        .nav--mob__social i {
          font-size: 4.5rem;
          margin-right: 7.5rem; }
        .nav--mob__social .fa-youtube-play {
          font-size: 5.5rem;
          position: relative;
          left: 0.5rem;
          top: 0.2rem; } }
  .nav--mob__links li {
    margin-bottom: 7.2rem; }
    .nav--mob__links li i {
      color: #ffcc33;
      position: relative;
      top: -0.6rem; }
  @media screen and (min-width: 768px) {
    .nav--mob__links li {
      margin-bottom: 5.9rem; }
      .nav--mob__links li i {
        color: #ffcc33;
        position: relative;
        top: -0.5rem; } }
  .nav--mob__link {
    color: #000000;
    font-size: 2.8rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-left: 3.5rem; }
    @media screen and (min-width: 768px) {
      .nav--mob__link {
        font-size: 2.273rem;
        letter-spacing: .1em;
        margin-left: 2.6rem; } }
  .nav--mob__subMenu {
    display: none;
    position: relative;
    top: 5.2rem;
    left: 7.8rem; }
    .nav--mob__subMenu li {
      margin-bottom: 5.2rem; }
      .nav--mob__subMenu li:last-child {
        padding-bottom: 6.5rem; }
    @media screen and (min-width: 768px) {
      .nav--mob__subMenu {
        top: 4.2rem;
        left: 6.2rem; }
        .nav--mob__subMenu li {
          margin-bottom: 4.3rem; }
          .nav--mob__subMenu li:last-child {
            padding-bottom: 5rem; } }
  .nav--mob__subLink {
    font-size: 2.8rem;
    letter-spacing: .1em; }
    @media screen and (min-width: 768px) {
      .nav--mob__subLink {
        font-size: 2.269rem;
        letter-spacing: .1em; } }
  .nav--mob__link--img {
    display: inline-block;
    margin-top: -1rem; }
    @media (max-width: 400px) {
      .nav--mob__link--img {
        width: 50%; } }
  @media screen and (min-width: 768px) {
    .nav--mob {
      display: block; }
      .nav--mob__burger {
        font-size: 5.5rem;
        left: 6.1rem;
        top: 1.6rem; }
      .nav--mob__search {
        font-size: 3.8rem;
        right: 6.1rem;
        top: 2.1rem; } }
  @media screen and (min-width: 1024px) {
    .nav--mob {
      display: none; } }
  .nav--mob .my-van--drop {
    display: none; }

.nav--desktop {
  display: none;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .nav--desktop {
      display: none; } }
  @media screen and (min-width: 1024px) {
    .nav--desktop {
      display: block;
      position: relative; } }
  .nav--desktop__social {
    color: #ffffff;
    position: absolute;
    top: 2.4rem;
    left: 3rem;
    font-size: 1.65rem; }
    .nav--desktop__social i {
      margin-right: 2.4rem;
      position: relative;
      cursor: pointer; }
    .nav--desktop__social .fa-youtube-play {
      font-size: 2rem; }
  .nav--desktop__links {
    list-style-type: none;
    padding-top: 2.8rem;
    width: 90%;
    margin: 0 auto; }
    .nav--desktop__links li {
      display: inline-block;
      vertical-align: top;
      margin-right: 5.5rem; }
      .nav--desktop__links li:nth-child(1) {
        margin-left: 17rem; }
      .nav--desktop__links li:nth-child(3) {
        margin-right: 32rem; }
  .nav--desktop__link {
    color: #ffcc33;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-bottom: .7rem;
    border-bottom: 0.3rem solid rgba(255, 255, 255, 0);
    transition: all 0.4s ease; }
    .nav--desktop__link:hover {
      border-bottom: 0.3rem solid #ffffff;
      color: #ffffff; }
    .nav--desktop__link--img {
      width: 20.7rem;
      display: inline-block;
      position: relative;
      left: 2.6rem;
      bottom: 3.3rem;
      margin-right: 5rem; }
  .nav--desktop__search {
    color: #ffffff;
    position: absolute;
    top: 2.5rem;
    right: 4.2rem;
    font-size: 1.5rem;
    cursor: pointer; }
  .nav--desktop #myVan:hover + .my-van--drop {
    display: block; }

.my-van--drop {
  display: none;
  background-color: #ffffff;
  overflow: hidden;
  padding-bottom: 1.6rem;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .my-van--drop {
      display: none; } }
  @media screen and (min-width: 1024px) {
    .my-van--drop {
      display: none;
      position: fixed;
      left: 0;
      top: 6.6rem; }
      .my-van--drop__links {
        position: relative;
        float: left;
        width: 25%;
        padding-top: 7.8rem;
        padding-left: 12.2rem; }
        .my-van--drop__links::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          height: 600px;
          width: 1px;
          background-color: #ececec; }
      .my-van--drop__link {
        display: inline-block;
        margin-bottom: 5.9rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #000000;
        transition: all 0.4s ease;
        letter-spacing: 0.05em; }
        .my-van--drop__link:hover {
          color: #ffcc33; }
      .my-van--drop__articles {
        float: left;
        width: 50%;
        padding-top: 6.8rem;
        padding-left: 9.8rem; }
        .my-van--drop__articles__title {
          font-size: 2.6rem;
          letter-spacing: 0em;
          margin-bottom: 1.3rem; }
          .my-van--drop__articles__title span {
            font-family: Airways;
            font-size: 3rem;
            letter-spacing: 0em;
            position: relative;
            left: 0.5rem;
            top: -0.2rem; } }

.mo-article--dropdown {
  display: inline-block;
  width: 37.8%;
  margin-bottom: 1.7rem;
  text-align: left; }
  .mo-article--dropdown__img {
    float: left; }
  .mo-article--dropdown__desc {
    float: left;
    position: relative;
    font-size: 1.3rem;
    letter-spacing: .05em;
    left: 2rem;
    top: -0.3rem;
    width: 58%;
    line-height: 1.5rem; }

.tint {
  display: none;
  position: absolute;
  top: 8.5rem;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900; }
  @media screen and (min-width: 1024px) {
    .tint {
      display: none; } }
  .tint.active {
    display: block; }

.search-box {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  z-index: 20000;
  text-align: center;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; }
  .search-box__close {
    position: absolute;
    right: 3.5rem;
    top: 1.5rem;
    color: #ffffff; }
  .search-box__form {
    margin: 0 auto;
    margin-top: 35rem;
    display: block; }
    @media screen and (min-width: 768px) {
      .search-box__form {
        margin-top: 31.5rem; } }
    @media screen and (min-width: 1024px) {
      .search-box__form {
        margin-top: 43rem; } }
  .search-box__input input {
    outline: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    width: 79.2%;
    color: #ffffff;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 0em;
    text-transform: uppercase;
    padding-bottom: 1.2rem; }
    @media screen and (min-width: 1024px) {
      .search-box__input input {
        width: 65%; } }
  .search-box__input i {
    color: #ffffff;
    position: relative;
    top: -1rem;
    left: -1rem; }
    @media screen and (min-width: 768px) {
      .search-box__input i {
        top: 1rem; } }
    @media screen and (min-width: 1024px) {
      .search-box__input i {
        font-size: 7rem;
        top: -.8rem; } }
  .search-box.active {
    display: block; }

.btn {
  display: block;
  border: 0;
  outline: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 2.5rem;
  transition: all 0.25s ease; }
  @media screen and (max-width: 767px) {
    .btn {
      font-size: 2rem; } }
  @media screen and (min-width: 768px) {
    .btn {
      font-size: 1.08rem; } }
  @media screen and (min-width: 1024px) {
    .btn {
      font-size: 1.2rem; } }
  @media screen and (min-width: 768px) {
    .btn {
      padding: 0.5rem 1.3rem; } }
  @media screen and (min-width: 1024px) {
    .btn {
      padding: 1rem 2.8rem; } }
  .btn.btn--s {
    font-size: 1.2rem;
    padding: 1.7rem 3rem; }
  .btn.btn--center {
    margin: 0 auto; }
  .btn.btn--shdw {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); }
  .btn.btn--white-black {
    background-color: #ffffff;
    color: #000000; }
    .btn.btn--white-black:hover {
      background-color: #000000;
      color: #ffffff; }
  .btn.btn--white-yellow {
    background-color: #ffffff;
    color: #000000; }
    .btn.btn--white-yellow:hover {
      background-color: #ffcc33;
      color: #000000; }
  .btn.btn--heroSlider {
    background-color: #ffcc33;
    color: #000000;
    letter-spacing: 0.04em;
    font-weight: bold;
    margin-bottom: 2.8rem;
    padding: 1rem 1.7rem; }
    @media screen and (max-width: 767px) {
      .btn.btn--heroSlider {
        font-size: 1.2rem; } }
    @media screen and (min-width: 768px) {
      .btn.btn--heroSlider {
        font-size: 0.8rem; } }
    @media screen and (min-width: 1024px) {
      .btn.btn--heroSlider {
        font-size: 1.2rem; } }
    @media screen and (min-width: 768px) {
      .btn.btn--heroSlider {
        padding: 0.5rem 1.3rem;
        margin-bottom: 1rem; } }
    @media screen and (min-width: 1024px) {
      .btn.btn--heroSlider {
        padding: 1rem 2.8rem;
        margin-bottom: 1.8rem; } }
    .btn.btn--heroSlider:hover {
      background-color: #000000;
      color: #ffffff; }
  .btn.btn--start-quiz {
    letter-spacing: 0.10em;
    position: relative;
    padding: 2.5rem 1.2rem;
    left: -0.3rem;
    margin: 0 auto;
    top: 31rem; }
    @media screen and (min-width: 768px) {
      .btn.btn--start-quiz {
        left: auto;
        padding: 1rem 1.3rem;
        letter-spacing: 0em;
        top: 6.6rem; } }
    @media screen and (min-width: 1024px) {
      .btn.btn--start-quiz {
        margin: 0;
        padding: 1.3rem 3rem;
        left: 31.2vw;
        top: 16.6rem;
        letter-spacing: 0em; } }

.label {
  background-color: #ffcc33; }
  .label.label--mo {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.6rem 2.5rem; }
    .label.label--mo h2 {
      font-weight: bold;
      letter-spacing: 0.05em;
      color: #000000; }
      @media screen and (max-width: 767px) {
        .label.label--mo h2 {
          font-size: 1.2rem; } }
      @media screen and (min-width: 768px) {
        .label.label--mo h2 {
          font-size: 0.8rem; } }
      @media screen and (min-width: 1024px) {
        .label.label--mo h2 {
          font-size: 1.2rem; } }
  .label.label--page-title {
    text-align: center;
    position: relative;
    padding: 1.2rem 2.1rem;
    display: inline-block; }
    .label.label--page-title h3 {
      font-weight: bold;
      letter-spacing: 0.05em;
      color: #000000; }
      @media screen and (max-width: 767px) {
        .label.label--page-title h3 {
          font-size: 1.332rem; } }
      @media screen and (min-width: 768px) {
        .label.label--page-title h3 {
          font-size: 0.8rem; } }
      @media screen and (min-width: 1024px) {
        .label.label--page-title h3 {
          font-size: 1.3rem; } }
  .label.label--article-top-hero {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem 3rem;
    background-color: #ffffff;
    display: inline-block; }
    .label.label--article-top-hero h3 {
      font-weight: bold;
      letter-spacing: 0.05em;
      color: #000000;
      font-weight: 400; }
      @media screen and (max-width: 767px) {
        .label.label--article-top-hero h3 {
          font-size: 2rem; } }
      @media screen and (min-width: 768px) {
        .label.label--article-top-hero h3 {
          font-size: 1.1rem; } }
      @media screen and (min-width: 1024px) {
        .label.label--article-top-hero h3 {
          font-size: 1.1rem; } }

.start-quiz {
  width: 100%;
  margin: 0 auto; }
  .start-quiz__banner {
    background: url("../assets/images/quiz-start-banner/quiz-start-mobile.jpg") no-repeat;
    width: 100%;
    padding-top: 6.6rem;
    padding-bottom: 42.2rem;
    position: relative;
    background-size: cover; }
    .start-quiz__banner__content {
      position: absolute;
      left: 17.5vw; }
      @media screen and (min-width: 768px) {
        .start-quiz__banner__content {
          left: 29.8vw; } }
      @media screen and (min-width: 1024px) {
        .start-quiz__banner__content {
          left: 31.2vw; } }
    .start-quiz__banner .title {
      font-weight: 900;
      line-height: 1.15; }
      @media screen and (max-width: 767px) {
        .start-quiz__banner .title {
          font-size: 4.5rem; } }
      @media screen and (min-width: 768px) {
        .start-quiz__banner .title {
          font-size: 2.2rem; } }
      @media screen and (min-width: 1024px) {
        .start-quiz__banner .title {
          font-size: 3.2rem; } }
      @media screen and (min-width: 1024px) {
        .start-quiz__banner .title {
          line-height: 1.15; } }
      .start-quiz__banner .title .subTitle {
        display: block;
        font-family: Airways;
        font-weight: 400; }
        @media screen and (max-width: 767px) {
          .start-quiz__banner .title .subTitle {
            font-size: 4.248rem; } }
        @media screen and (min-width: 768px) {
          .start-quiz__banner .title .subTitle {
            font-size: 2.2rem; } }
        @media screen and (min-width: 1024px) {
          .start-quiz__banner .title .subTitle {
            font-size: 3rem; } }
        .start-quiz__banner .title .subTitle span {
          font-weight: 400;
          font-family: 'Lato';
          letter-spacing: 0.065em;
          position: relative;
          left: 0.5rem; }
          @media screen and (max-width: 767px) {
            .start-quiz__banner .title .subTitle span {
              font-size: 4.248rem; } }
          @media screen and (min-width: 768px) {
            .start-quiz__banner .title .subTitle span {
              font-size: 2.2rem; } }
          @media screen and (min-width: 1024px) {
            .start-quiz__banner .title .subTitle span {
              font-size: 3rem; } }
          @media screen and (min-width: 768px) {
            .start-quiz__banner .title .subTitle span {
              left: 0rem;
              top: 0.1rem;
              letter-spacing: 0.055em; } }
          @media screen and (min-width: 1024px) {
            .start-quiz__banner .title .subTitle span {
              left: 0.5rem; } }
    .start-quiz__banner .description {
      position: relative;
      letter-spacing: 0.05em;
      line-height: 1.29;
      width: 80%;
      margin-top: 3.5rem; }
      @media screen and (max-width: 767px) {
        .start-quiz__banner .description {
          font-size: 2.6rem; } }
      @media screen and (min-width: 768px) {
        .start-quiz__banner .description {
          font-size: 2.2rem; } }
      @media screen and (min-width: 1024px) {
        .start-quiz__banner .description {
          font-size: 1.4rem; } }
      @media screen and (min-width: 768px) {
        .start-quiz__banner .description {
          display: none; } }
      @media screen and (min-width: 1024px) {
        .start-quiz__banner .description {
          display: block;
          left: -0.2rem;
          margin-top: 1.6rem;
          width: 38%; } }
    @media screen and (min-width: 768px) {
      .start-quiz__banner {
        background: url("../assets/images/quiz-start-banner/quiz-start-tablet.jpg") no-repeat;
        background-size: cover;
        padding-top: 3.8rem;
        padding-bottom: 14.2rem; } }
    @media screen and (min-width: 1024px) {
      .start-quiz__banner {
        background: url("../assets/images/quiz-start-banner/quiz-start-desk.jpg") no-repeat;
        background-size: cover;
        padding-top: 9.3rem;
        padding-bottom: 30.8rem; } }

.start-quiz__thumbs {
  display: none;
  position: relative; }
  @media screen and (min-width: 768px) {
    .start-quiz__thumbs {
      display: block;
      top: -3rem;
      left: 1rem; } }
  @media screen and (min-width: 1024px) {
    .start-quiz__thumbs {
      top: -6rem;
      left: 2.2rem; } }

.start-quiz__thumb {
  position: relative; }
  @media screen and (min-width: 768px) {
    .start-quiz__thumb {
      width: 26.6%;
      margin-right: 6.6%; } }
  @media screen and (min-width: 768px) and (min-width: 768px) {
    .start-quiz__thumb:nth-child(1) {
      top: 0rem; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .start-quiz__thumb:nth-child(1) h3 {
      top: -0.5rem;
      left: 0.1rem; } }
  @media screen and (min-width: 768px) and (min-width: 768px) {
    .start-quiz__thumb:nth-child(2) {
      top: -0.5rem; }
      .start-quiz__thumb:nth-child(2) h3 {
        top: -0.3rem;
        left: 0.7rem; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .start-quiz__thumb:nth-child(2) {
      top: -1.2rem;
      left: 0.5rem; }
      .start-quiz__thumb:nth-child(2) h3 {
        top: -0.5rem; }
      .start-quiz__thumb:nth-child(2) p {
        left: 0.8rem;
        top: -0.2rem; } }
  @media screen and (min-width: 768px) and (min-width: 768px) {
    .start-quiz__thumb:nth-child(3) {
      top: -1.5rem;
      left: 1rem; }
      .start-quiz__thumb:nth-child(3) h3 {
        top: -0.1rem;
        left: 0rem; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .start-quiz__thumb:nth-child(3) {
      top: -3.5rem;
      left: 1.6rem; }
      .start-quiz__thumb:nth-child(3) h3 {
        top: -0.3rem;
        left: 0.5rem; }
      .start-quiz__thumb:nth-child(3) p {
        width: 59%;
        margin: 0 auto;
        left: 0.5rem; } }
  @media screen and (min-width: 768px) {
      .start-quiz__thumb img {
        vertical-align: bottom; } }
  .start-quiz__thumb__description {
    text-align: center; }
    .start-quiz__thumb__description h3 {
      position: relative; }
      @media screen and (min-width: 768px) {
        .start-quiz__thumb__description h3 {
          font-size: 1.336rem;
          font-weight: 900;
          letter-spacing: -0.025rem; } }
      @media screen and (min-width: 1024px) {
        .start-quiz__thumb__description h3 {
          font-size: 2.2rem;
          letter-spacing: -0.025rem; } }
    .start-quiz__thumb__description p {
      position: relative; }
      @media screen and (min-width: 768px) {
        .start-quiz__thumb__description p {
          display: none; } }
      @media screen and (min-width: 1024px) {
        .start-quiz__thumb__description p {
          display: block;
          font-size: 1.4rem;
          letter-spacing: 0.05em; } }

.footer {
  padding: 5.5rem 0; }
  .footer__logo img {
    margin: 0 auto;
    margin-bottom: 2rem; }
  .footer__links {
    list-style-type: none;
    text-align: center; }
    .footer__links li {
      margin: 0px 1.5rem;
      margin-bottom: 3rem;
      display: block; }
      @media screen and (min-width: 768px) {
        .footer__links li {
          display: inline-block; } }
      @media screen and (min-width: 1024px) {
        .footer__links li {
          display: inline-block; } }
  .footer__link {
    font-weight: bold;
    color: #8b8b8b; }
    @media screen and (max-width: 767px) {
      .footer__link {
        font-size: 2rem; } }
    @media screen and (min-width: 768px) {
      .footer__link {
        font-size: 1rem; } }
    @media screen and (min-width: 1024px) {
      .footer__link {
        font-size: 1rem; } }

.hero-slider {
  position: relative;
  width: 100%; }
  .hero-slider__controls {
    position: absolute;
    z-index: 999;
    top: 51%; }
    @media screen and (min-width: 768px) {
      .hero-slider__controls {
        top: 51%; } }
    @media screen and (min-width: 1024px) {
      .hero-slider__controls {
        top: 51%; } }
  .hero-slider__prev {
    display: inline-block;
    left: 4.9rem;
    background: url("../assets/images/sliders/hero/control-left-yellow.png") no-repeat;
    background-size: 100% 100%;
    height: 3.2vw;
    width: 3.2vw;
    visibility: hidden;
    transition: all 0.3s ease; }
    @media screen and (min-width: 768px) {
      .hero-slider__prev {
        left: 2.1rem;
        visibility: visible; } }
    @media screen and (min-width: 1024px) {
      .hero-slider__prev {
        left: 4.9rem;
        visibility: visible; } }
    .hero-slider__prev:hover {
      background: url("../assets/images/sliders/hero/control-left-white.png") no-repeat;
      background-size: 100% 100%;
      height: 3.2vw;
      width: 3.2vw; }
  .hero-slider__next {
    display: inline-block;
    right: 5.5rem;
    background: url("../assets/images/sliders/hero/control-right-yellow.png") no-repeat;
    background-size: 100% 100%;
    height: 3.2vw;
    width: 3.2vw;
    visibility: hidden; }
    @media screen and (min-width: 768px) {
      .hero-slider__next {
        right: 2.4rem;
        visibility: visible; } }
    @media screen and (min-width: 1024px) {
      .hero-slider__next {
        right: 5.5rem;
        visibility: visible; } }
    .hero-slider__next:hover {
      background: url("../assets/images/sliders/hero/control-right-white.png") no-repeat;
      background-size: 100% 100%;
      height: 3.2vw;
      width: 3.2vw; }
  .hero-slider__counter {
    position: absolute;
    z-index: 1000;
    color: #ffffff;
    letter-spacing: 0em;
    font-weight: bold;
    right: 6.5%;
    bottom: 5.7rem; }
    @media screen and (max-width: 767px) {
      .hero-slider__counter {
        font-size: 2.5rem; } }
    @media screen and (min-width: 768px) {
      .hero-slider__counter {
        font-size: 1.2rem; } }
    @media screen and (min-width: 1024px) {
      .hero-slider__counter {
        font-size: 2.2rem; } }
    @media screen and (min-width: 768px) {
      .hero-slider__counter {
        right: auto;
        bottom: 2.5rem;
        left: 15.5%; } }
    @media screen and (min-width: 1024px) {
      .hero-slider__counter {
        right: auto;
        bottom: 6.5rem;
        left: 15.5%; } }
    .hero-slider__counter .current {
      color: #ffcc33; }
  .hero-slider__slide {
    position: relative; }
  .hero-slider__img {
    width: 100%;
    height: 100%; }
  .hero-slider__description {
    position: absolute;
    z-index: 3000;
    top: 19%;
    left: 6.4%;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      .hero-slider__description {
        top: 37.55%;
        left: 15.35%; } }
    @media screen and (min-width: 1024px) {
      .hero-slider__description {
        top: 38.8%;
        left: 15.35%; } }
    .hero-slider__description .title {
      color: #ffcc33;
      font-weight: bold;
      letter-spacing: -0.02em; }
      @media screen and (max-width: 767px) {
        .hero-slider__description .title {
          font-size: 3rem; } }
      @media screen and (min-width: 768px) {
        .hero-slider__description .title {
          font-size: 1.6rem; } }
      @media screen and (min-width: 1024px) {
        .hero-slider__description .title {
          font-size: 3.6rem; } }
    .hero-slider__description .subTitle {
      color: #ffffff;
      font-weight: bold;
      letter-spacing: -0.02em;
      line-height: 1.01; }
      @media screen and (max-width: 767px) {
        .hero-slider__description .subTitle {
          font-size: 4rem; } }
      @media screen and (min-width: 768px) {
        .hero-slider__description .subTitle {
          font-size: 3.2rem; } }
      @media screen and (min-width: 1024px) {
        .hero-slider__description .subTitle {
          font-size: 7rem; } }
      .hero-slider__description .subTitle span {
        text-transform: none;
        display: block;
        letter-spacing: 0.01em;
        margin-top: 0.4rem; }
        @media screen and (max-width: 767px) {
          .hero-slider__description .subTitle span {
            font-size: 1rem; } }
        @media screen and (min-width: 768px) {
          .hero-slider__description .subTitle span {
            font-size: 1.6rem; } }
        @media screen and (min-width: 1024px) {
          .hero-slider__description .subTitle span {
            font-size: 3.2rem; } }
        @media screen and (max-width: 767px) {
          .hero-slider__description .subTitle span {
            display: none; } }
      @media screen and (max-width: 767px) {
        .hero-slider__description .subTitle {
          margin-top: .5rem;
          letter-spacing: -0.03em; } }

.kontrola {
  background: url("../assets/images/sliders/hero/control-left-yellow.png") no-repeat;
  background-size: 100% 100%; }

.most-read-articles {
  background-color: #f6f6f6; }
  @media screen and (min-width: 768px) {
    .most-read-articles .container-1 {
      position: relative;
      width: 12.962%;
      float: left; }
    .most-read-articles .container-7 {
      position: relative;
      width: 87.037%;
      float: left; } }
  @media screen and (min-width: 1024px) {
    .most-read-articles {
      min-height: 31.5rem; }
      .most-read-articles .container-1 {
        position: relative;
        width: 12.962%;
        float: left; }
      .most-read-articles .container-7 {
        position: relative;
        width: 87.037%;
        float: left; } }
  .most-read-articles__slider {
    position: relative;
    left: auto; }
    @media screen and (min-width: 768px) {
      .most-read-articles__slider {
        left: 4.3rem;
        width: 86%;
        bottom: 2.7rem; } }
    @media screen and (min-width: 1024px) {
      .most-read-articles__slider {
        bottom: 6.5rem;
        width: 88%;
        left: 8.2rem; } }
    .most-read-articles__slider__prev {
      display: inline-block;
      background: url("../assets/images/sliders/latest-news/control-left-gray.png") no-repeat;
      background-size: 100% 100%;
      height: 3.2vw;
      width: 3.2vw;
      transition: all 0.3s ease;
      z-index: 999;
      position: absolute;
      left: 0;
      top: 7.8rem; }
      @media screen and (min-width: 768px) {
        .most-read-articles__slider__prev {
          display: inline-block;
          left: 0;
          top: 4rem; } }
      @media screen and (min-width: 1024px) {
        .most-read-articles__slider__prev {
          display: inline-block;
          left: 0;
          top: 7.8rem; } }
    .most-read-articles__slider__next {
      display: inline-block;
      background: url("../assets/images/sliders/latest-news/control-right-gray.png") no-repeat;
      background-size: 100% 100%;
      height: 3.2vw;
      width: 3.2vw;
      transition: all 0.3s ease;
      z-index: 999;
      position: absolute;
      right: 0;
      top: 7.8rem; }
      @media screen and (min-width: 768px) {
        .most-read-articles__slider__next {
          display: inline-block;
          right: 0;
          top: 4rem; } }
      @media screen and (min-width: 1024px) {
        .most-read-articles__slider__next {
          display: inline-block;
          right: 0;
          top: 7.8rem; } }
  .most-read-articles__slide {
    float: left;
    width: 50%; }
    @media screen and (min-width: 768px) {
      .most-read-articles__slide {
        margin-right: 0.8%; }
        .most-read-articles__slide p {
          margin-top: 1.2rem;
          margin-left: 0rem;
          font-size: 1.2rem;
          letter-spacing: 0.05rem;
          line-height: 1.1; } }
    @media screen and (min-width: 1024px) {
      .most-read-articles__slide {
        margin-right: 0.5%; }
        .most-read-articles__slide p {
          margin-top: 2.3rem;
          margin-left: 0.2rem;
          font-size: 1.6rem;
          letter-spacing: 0.1rem;
          line-height: 1.25; }
        .most-read-articles__slide img {
          width: 100%; } }
