a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: 100; }

* {
  -webkit-tap-highlight-color: transparent !important; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

b,
strong {
  font-weight: bold; }

em,
i {
  font-style: italic; }

u {
  text-decoration: underline; }

a img {
  border: none; }

a, button {
  cursor: pointer;
  outline: none; }

a {
  color: inherit; }

input {
  outline: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

* {
  box-sizing: border-box; }

html {
  font-size: 10px; }
  @media screen and (max-width: 767px) {
    html {
      font-size: 1.5625vw; } }
  @media screen and (min-width: 768px) {
    html {
      font-size: 1.30208vw; } }
  @media screen and (min-width: 1024px) {
    html {
      font-size: 0.58824vw; } }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.text--regular {
  font-weight: 400; }

.text--bold {
  font-weight: 700; }

.text--bolder {
  font-weight: 900; }

.text--center {
  text-align: center; }

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-size: 100%;
  position: relative;
  font-family: 'Lato', sans-serif; }

.row {
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0; }
  @media screen and (min-width: 768px) {
    .wrapper {
      width: 84.63%;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (min-width: 1024px) {
    .wrapper {
      width: 79.47%;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0; } }
  .wrapper--main {
    margin-top: 8.5rem; }
    @media screen and (min-width: 768px) {
      .wrapper--main {
        margin-top: 8.5rem; } }
    @media screen and (min-width: 1024px) {
      .wrapper--main {
        margin-top: 6.6rem; } }

.box {
  width: 100%;
  border: 2px solid red;
  height: 2000px;
  background-color: blue; }

.c-header {
  background-color: #000000;
  position: fixed;
  top: 0;
  height: 8.5rem; }
  @media screen and (min-width: 1024px) {
    .c-header {
      height: 6.6rem;
      background-color: #000000; } }

.nav--mob {
  display: block;
  position: relative;
  text-align: center; }
  .nav--mob__burger {
    color: #ffcc33;
    position: absolute;
    left: 4rem;
    top: 2.5rem;
    font-size: 4rem; }
  .nav--mob__search {
    color: #ffffff;
    position: absolute;
    right: 4.4rem;
    top: 2.8rem;
    font-size: 3rem; }
  .nav--mob__link--img {
    display: inline-block;
    margin-top: -1rem; }
  @media screen and (min-width: 768px) {
    .nav--mob {
      display: block; }
      .nav--mob__burger {
        font-size: 5.5rem;
        left: 6.1rem;
        top: 1.6rem; }
      .nav--mob__search {
        font-size: 3.8rem;
        right: 6.1rem;
        top: 2.1rem; } }
  @media screen and (min-width: 1024px) {
    .nav--mob {
      display: none; } }

.nav--desktop {
  display: none;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .nav--desktop {
      display: none; } }
  @media screen and (min-width: 1024px) {
    .nav--desktop {
      display: block;
      position: relative; } }
  .nav--desktop__social {
    color: #ffffff;
    position: absolute;
    top: 2.4rem;
    left: 3rem;
    font-size: 1.65rem; }
    .nav--desktop__social i {
      margin-right: 2.4rem;
      position: relative;
      cursor: pointer; }
    .nav--desktop__social .fa-youtube-play {
      font-size: 2rem; }
  .nav--desktop__links {
    list-style-type: none;
    padding-top: 2.8rem;
    width: 90%;
    margin: 0 auto; }
    .nav--desktop__links li {
      display: inline-block;
      vertical-align: top;
      margin-right: 5.5rem; }
      .nav--desktop__links li:nth-child(1) {
        margin-left: 17rem; }
      .nav--desktop__links li:nth-child(3) {
        margin-right: 32rem; }
  .nav--desktop__link {
    color: #ffcc33;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-bottom: .7rem; }
    .nav--desktop__link:hover {
      border-bottom: 0.3rem solid #ffffff;
      color: #ffffff; }
    .nav--desktop__link--img {
      width: 20.7rem;
      display: inline-block;
      position: relative;
      left: 2.6rem;
      bottom: 3.3rem;
      margin-right: 5rem; }
  .nav--desktop__search {
    color: #ffffff;
    position: absolute;
    top: 2.5rem;
    right: 4.2rem;
    font-size: 1.5rem;
    cursor: pointer; }
