.separator{
	width:100%;
	background-color:#ececec;
	height:1px;
	position:relative;
	display:none;
	
	@include breakpoint(tablet){
		display:block;
		background-color:#fff;
	}
	@include breakpoint(desktop){
		display:block;
		background-color:#ececec;
	}


	&.short{
	
		@include breakpoint(tablet){
			width:84.63%;
			
		}

		@include breakpoint(desktop){
			width:79.47%
			
		}
	}


	&.margin{

		@include breakpoint(tablet){
			margin:0 auto;
			margin-top:-3rem;
			margin-bottom:10.45rem;	
		}

		@include breakpoint(desktop){
			margin:0 auto;
			margin-top:-4.8rem;
			margin-bottom:14.5rem;	
		}
	}
}