.btn{
	display:block;
	border:0;
	outline:0;
	@include fontSize(20, 10.8, 12);
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.1em;
	padding:2.5rem;
	transition: all 0.25s ease;

	@include breakpoint(tablet){ 
			padding:0.5rem 1.3rem;
			//margin-bottom:1rem;

		}

	@include breakpoint(desktop){ 
		padding:1rem 2.8rem;
		//margin-bottom:1.8rem;
	}
	
	&.btn--s{
		font-size:calculateRem(12);//yellow quiz on articles
		padding:1.7rem 3rem;
	}
	
	&.btn--center{
		margin:0 auto;
		//margin-top:60px;//PROPERI ZA TESTIRANJE
	}


	&.btn--shdw{
		box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
	}

	&.btn--white-black{
		background-color:$white;
		color:$black;

		&:hover{
			background-color:$black;
			color:$white;
		}
	}

	&.btn--white-yellow{
		background-color:$white;
		color:$black;
		

		&:hover{
			background-color:$yellow;
			color:$black;
		}
	}


	&.btn--heroSlider{
		background-color:$yellow;
		color:$black;
		letter-spacing:0.04em;
		font-weight:bold;
		margin-bottom:2.8rem;
		padding:1rem 1.7rem;
		@include fontSize(12, 8, 12);
		
		@include breakpoint(tablet){ 
			padding:0.5rem 1.3rem;
			margin-bottom:1rem;

		}

		@include breakpoint(desktop){ 
			padding:1rem 2.8rem;
			margin-bottom:1.8rem;
		}

		&:hover{
			background-color:$black;
			color:$white;
		}
	}

	&.btn--start-quiz{
		letter-spacing:0.05em;
		position:relative;
		left:-0.3rem;
		
		@include breakpoint(tablet){ 
			

		}

		@include breakpoint(desktop){ 
			margin-top:2.8rem;
			padding:1.3rem 2.5rem;
		}
	}
}