.footer{
	padding:5.5rem 0;
	&__logo{
		
		img{
			margin:0 auto;
			margin-bottom:2rem;
		}
	}

	&__links{
		list-style-type: none;
		text-align:center;

		li{
			margin:0px 1.5rem;
			margin-bottom:3rem;
			display:block;

			@include breakpoint(tablet){
				display:inline-block;
			}

			@include breakpoint(desktop){
				display:inline-block;
			}
		}
	}

	&__link{
		@include fontSize(20,10,10);
		font-weight:bold;
		color:$gray-mid;
		

	}
}