$header-height:6.6rem;
.c-header{
	background-color:$black;
	position:fixed;
	height:$header-height;


	&--mobile{
		height:100px;
		
		@include breakpoint(desktop){ 
				display: none;
		}
	}

	&--desktop{
		display: none;
		//height:60px;
		
		@include breakpoint(tablet){ 
				display: none;
		}

		@include breakpoint(desktop){ 
				display: block;
		}   


		.nav--desktop{
			//border:2px solid blue;
			padding:0;
			margin:0;
			margin-top: 2.9rem;
			position:relative;
			text-align: center;

			&__social{
				//border:2px solid red;
				color:$white;
				font-size: 1.8rem;
				padding:0;
				margin:0;
				display: inline-block;
				position:absolute;
				left:3rem;
				top:-.5rem;

				& i{
					margin-right:2.35rem; 
				}
			}

			&__links{
				//border:2px solid green;
				list-style-type: none;
				padding:0;
				left:26.2rem;
				display:inline-block;
				text-align:center;
				width:85%;


				
			}

			&__links li {
				//border:2px solid blue;
				display: inline-block;

				&:nth-child(3){
					a{
						margin-right:28rem;
					}
				}

				&:nth-child(1){
					a{
						margin-left:9.5rem;
					}
				}
			}

			&__link{
				font-size:1.2rem;
				display: inline-block;
				color:$yellow;
				text-transform: uppercase;
				text-decoration: none;
				margin-right:5.5rem;
				vertical-align: top;
				letter-spacing: .1em;
				//padding:30px;


			}

			&__link--img{
				position: absolute;
				left:74.8rem;
				top:-2rem

			}

			&__search{
				//border:2px solid orange;
				color:$white;
				font-size:1.8rem;
				display: inline-block;
				position:absolute;
				right:3.8rem;
				top:-.5rem;
			}
		}                                  
	}
}