.article{
	
	&.article--s{
		width:38.796%;

		@include breakpoint(tablet){
			width:46.117% ;
		}

		@include breakpoint(desktop){
			width:38.796%;
		}
	}

	&.article--s-equal{
		width:50%;
		padding-right:2%;
		

		@include breakpoint(tablet){
			width:33.333%;
			padding-right:2%;
		}

		@include breakpoint(desktop){
			width:33.333%;
			padding-right:2%;
		}
	}

	&.article--vu-l{
			width:51%;
		@include breakpoint(tablet){
			width:57.500%;
		}

		@include breakpoint(desktop){
			width:51.879%;
			
		}
	}

	&.article--vu-m{
		width:49%;
		
		@include breakpoint(tablet){
			width:42.500%;
			
		}

		@include breakpoint(desktop){
			width:48.121%;
			
		}
	}



	&.article--m{
		width:61.204%;

		@include breakpoint(tablet){
			width:53.883%;
		}

		@include breakpoint(desktop){
			width:61.204%;
		}
	}

	&.article--full{
		width:100%;
	}

	&.fix-top{
		margin-top:32.2%;

		@include breakpoint(tablet){
			margin-top:14.9%;
		}

		@include breakpoint(desktop){
			margin-top:34.1%;
		}
	}

	&.article--center{
		margin:0 auto;
	}

	&.article--padded-r{
		padding-right:2%;

		@include breakpoint(tablet){
			padding-right:3.5%;
		}

		@include breakpoint(desktop){
			padding-right:3.5%;
		}
	}

	&.article--padded-r-desktop{
		padding-right:0%;

		@include breakpoint(tablet){
			padding-right:0%;
		}

		@include breakpoint(desktop){
			padding-right:3%;
		}
	}
	
	&.article--floated{
		float:left;
	}

	.article-img{	
		position:relative;

		img{
			width:100%;
		}

	}

	.article-body{
		
		.title{
			@include fontSize(28, 14, 18);
			font-weight:900;
			letter-spacing: 0.05em;
			margin-top:1.4rem;
			line-height: 1.14;

			@include breakpoint(tablet){
				margin-top:1.3rem;
				line-height: 1.4;
			}

			@include breakpoint(desktop){
				margin-top:3.1rem;
				line-height: 1.4;
				margin-top:3rem;
			}
		}

		.description{
			display: none;
			color:$light-gray;
			margin-top:2.1rem;

			@include breakpoint(desktop){
				margin-top:2.1rem;
				display: block;
				font-size:calculateRem(14);
				letter-spacing: 0.05em;
				line-height: 1.35;
			}
		}
	}

}