.cgu{
	margin:0 auto;
	width:87.5%;

	@include breakpoint(tablet){
		width:85%;
	}

	@include breakpoint(desktop){
		width:69.5%;
	}

	.inner{
		

		.breadcrumbs{
			padding-top: 4.5rem;

			span{
				margin-left:0.5em; 
			}
		}

		.section-title{
			@include fontSize(70,36,70);
			font-weight:900;
			text-align: center;
			//margin-top:5.9rem;
			padding-top:9.1rem;
			letter-spacing:0em;

			@include breakpoint(tablet){
				padding-top:7.8rem;
			}

			@include breakpoint(desktop){
				letter-spacing:-0.025em;
				margin-top:5.9rem;
			}
		}

		.articles{
			position: relative;
			top:4.5rem;
			
			@include breakpoint(tablet){
				top:2.8rem;
			}

			@include breakpoint(desktop){
				top:3rem;
			}

			.text-block{
				margin-top:3.3rem;
				@include breakpoint(tablet){
					margin-top:4.5rem;
				}

				@include breakpoint(desktop){
					margin-top:4.5rem;
				}
			}

			.title{
				@include fontSize(32,24,24);
				letter-spacing: 0.05em;
				font-weight: 700;
				text-transform: uppercase;

				@include breakpoint(tablet){
			
				}

				@include breakpoint(desktop){
						
				}
			}

			.paragraph{
				@include fontSize(28,18,18);
				letter-spacing: 0.05em;
				line-height: 1.5;
				margin-top:2.8rem;

				@include breakpoint(tablet){
					line-height:1.5;
					margin-top:2.8rem;
				}

				@include breakpoint(desktop){
					line-height:1.44;
					margin-top:2.8rem;	
				}
			}
		}
	}
}

.footer-cgu{
	padding-top:18rem;
	@include breakpoint(tablet){
		padding-top:10.7rem;
	}

	@include breakpoint(desktop){
		padding-top:10.9rem;
	}
}