.news-de-la-semaine{
	
	.section-title{
		position:absolute;
		@include fontSize(45,20,32);
		font-weight:900;
		top:4%;

		@include breakpoint(tablet){
			top:9.5rem;
		}

		@include breakpoint(desktop){
			top:23.8rem;
		}
		
		.subTitle{
			@include fontSize(50,20,30);
			letter-spacing:0em;
			font-weight:400;
			font-family: Airways;
			display:block;

			@include breakpoint(tablet){
				display: inline;

			}

			@include breakpoint(desktop){
				display: inline;
			}
			
		}


		.subTitle-2{
			@include fontSize(40,20,30);
			letter-spacing:0.05em;
			font-weight:400;
			display:block;

			@include breakpoint(tablet){


			}

			@include breakpoint(desktop){
				
			}

		}
	}

	.container-1{	
		
		.article{

			&:nth-of-type(1){
				
				.title{
					width:100%;
					

					@include breakpoint(tablet){
						width:95%;
					}

					@include breakpoint(desktop){
						width:100%;
					}

				}
			}
				
		}	
	}

	.article-landsc{
		.title{
			
			width:100%;
		
			@include breakpoint(tablet){
				width:90%;
			}

			@include breakpoint(desktop){
				width:100%;
			}
		}	
	}

}



.fan-de-vu{
	.section-title{
		@include fontSize(45,20,30);
		
		letter-spacing:0.05em;

		@include breakpoint(tablet){
			
		}

		@include breakpoint(desktop){
			
		}
		
		.subTitle-1{
			@include fontSize(50,20,30);
			letter-spacing:0em;
			font-weight:400;
			font-family: Airways;
			
		}

		.subTitle-2{
			@include fontSize(40,20,32);
			letter-spacing:0em;
			font-weight:900;
			
		}
	}
	.container-1{
		.inner{

		&:nth-child(1){

			.article-body{

					padding-left:9%;
					padding-right:2%;
					padding-top:4rem;
					padding-bottom:6.5rem;

				@include breakpoint(tablet){
					padding-left:7.5%;
					padding-right:2%;
					padding-top:3.3rem;
					padding-bottom:2rem;
				
				}
				
				@include breakpoint(desktop){
					padding-left:7.5%;
					padding-right:5%;
					padding-top:5rem;
					padding-bottom:8rem;
				
				}

			}
			
		}
	}

	}

}




















