.live-news{
	margin:0 auto;
	width:87.63%;	

	@include breakpoint(tablet){
		width:84.63%;	
	}

	@include breakpoint(desktop){
		width: 79.47%;	
		border-bottom:1px solid $gray;
		padding-bottom:7rem;
	}

	.separator{
		height:1px;
		background-color:$gray;
		display:none;


		@include breakpoint(tablet){
			display:none;	
		}

		@include breakpoint(desktop){
			display:block;	
			margin-top:7rem;	
			
		}
	}

	.breadcrumbs{
		position:relative;

		@include breakpoint(tablet){
		
		}

		@include breakpoint(desktop){
			left:6.2%;
			padding-top:4.5rem;		
		}

		span{

			@include breakpoint(tablet){
			
			}

			@include breakpoint(desktop){
				margin-left:0.8rem;

			}
		}
	}

	.inner{
		padding-top:0.6rem;

		@include breakpoint(tablet){
			padding-top:5.2rem;
		}

		@include breakpoint(desktop){
			padding-top:0.5rem;
		}


		.section-title{
			position:relative;
			@include fontSize(70,36,69.6);
			font-weight:900;
			text-align: center;
			//padding-top:11.1rem;
			letter-spacing:0em;
			line-height: calculateRem(48);
			position:relative;
			padding-top:4.9rem;
			margin-bottom:9rem;

			@include breakpoint(tablet){
				padding-top:1rem;
				margin-bottom:3.5rem;
				
			}

			@include breakpoint(desktop){
				letter-spacing:-0.025em;
				padding-top:12rem;
				margin-bottom:8.5rem;
				left:-0.6rem;
			}
		}

		.container-0{
			width:100%;
			float:left;
			padding-top:7.5rem;

			@include breakpoint(tablet){
				width:49%;	
				padding-right:6.5%;
				padding-top:0rem;
			}

			@include breakpoint(desktop){
				width:49%;	
				padding-right:6.3%;
				padding-top:4.3rem;
			}
		}

		.container-0b{
			width:100%;
			float:left;
			padding-top:6.5rem;
			@include breakpoint(tablet){
				width:51%;	
				padding-right:1.9%;
				padding-top:0.7rem;
			}

			@include breakpoint(desktop){
				width:51%;	
				padding-right:1.9%;
				padding-top:0rem;
			}
		}

		.container-1{
			width:100%;
			float:left;
			padding-top:10.2rem;
			@include breakpoint(tablet){
				width:51%;	
				padding-right:1.9%;
				padding-top:1.2rem;
			}

			@include breakpoint(desktop){
				width:51%;	
				padding-right:1.9%;
				padding-top:7.7rem;
			}
		}

		.container-2{
			width:100%;
			float:left;
			padding-top:6.5rem;
			@include breakpoint(tablet){
				width:49%;
				padding-top:1.2rem;	
			}

			@include breakpoint(desktop){
				width:49%;
				padding-top:7.7rem;		
			}
		}

		.article-body{

			.title{
				margin-top: 2.4rem;

				@include breakpoint(tablet){
					 margin-top: 0.9rem;

				}

				@include breakpoint(desktop){
					 margin-top: 3.2rem;	
				}
			}
		}
	}

	.numerator{

		margin-top:11.9rem;

		@include breakpoint(tablet){
			margin-top:4.9rem;	
		}

		@include breakpoint(desktop){
			margin-top:10.6rem;	
		}




		.numbers{
			list-style-type: none;
			@include fontSize(32.2, 19.38, 20);
			text-align:center;
			display:block;
			position:relative;
			margin-bottom:5.2rem;

			&:nth-child(2){
					
				margin-right:auto;

				.number{
					margin-right:4rem;  
				}
			}

			

			@include breakpoint(tablet){
				text-align:right;
				margin-left:18%; 
				margin-bottom:0rem;

				&:nth-child(2){
					
					margin-right:24.5%;

					.number{
						margin-right:0.1rem;  
					}
				}
			}

			@include breakpoint(desktop){
				left:4.97%;
				margin-bottom:0rem;
				text-align:center;
				margin-left:auto; 
				
				&:nth-child(2){
					left:-0.3em;
					margin-right:auto;

					.number{
						margin-right:0.1rem;  
					}
				}
			}

			
			.number{
				display:inline-block;
				background-color: transparent;
				vertical-align:bottom;
				border-radius:100%;
				text-align:center;
				position:relative; 
				width:12vw;
				height:12vw;
				transition: all 0.3s ease;
				cursor:pointer;
				margin-right:2.6rem;

				span{
					 width: 50%;
					 height: 50%;
					 overflow: auto;
					 margin: auto;
					 position: absolute;
					 top: 0; left: 0; bottom: 0; right: 0;
				}



				
				@include breakpoint(tablet){
					width:6.2vw;
					height:6.2vw;
					margin-right:-1rem;
				}

				@include breakpoint(desktop){
					margin-right:-1rem;
					width:2.9vw;
					height:2.9vw;
				}


				&.mobile{
					display:none;	

					@include breakpoint(tablet){
						display:inline-block;
					}

					@include breakpoint(desktop){
						display:inline-block;
					}
				}

				&.active{
					background-color: $gray;
					display:inline-block;
					width:12vw;
					height:12vw;
					border-radius:100%;
					text-align:center;
					position:relative;
					margin-right:2.4rem; 

					@include breakpoint(tablet){
						width:6.2vw;
						height:6.2vw;
						margin-right:-1rem;	
					}

					@include breakpoint(desktop){
						margin-right:-1rem;	
						width:2.9vw;
						height:2.9vw;
					}

					span{
						 width: 50%;
						 height: 50%;
						 overflow: auto;
						 margin: auto;
						 position: absolute;
						 top: 0; left: 0; bottom: 0; right: 0;
					}


					&:hover{
						background-color:$gray;
					}

				}

				&:hover{
					background-color:$gray;
				}
			}

			.next{
				display:inline-block;
				background-color: $gray;
				width:12vw;
				height:12vw;
				border-radius:100%;
				text-align:center;
				position:relative; 
				cursor:pointer;
				vertical-align: middle;
				margin-left:2rem;

				@include breakpoint(tablet){
					width:6.2vw;
					height:6.2vw;

				}

				@include breakpoint(desktop){
					margin-left:2rem;
					width:2.9vw;
					height:2.9vw;
				}

				i{
				  width: 50%;
				  height: 50%;
				  overflow: auto;
				  margin: auto;
				  position: absolute;
				  top: 0.3rem; left: 0.3rem; bottom: 0; right: 0;
				}
			}

			.last{
				display:inline-block;
				background-color: $gray;
				display:inline-block;
				background-color: $gray;
				width:12vw;
				height:12vw;
				border-radius:100%;
				text-align:center;
				position:relative; 
				cursor:pointer;
				vertical-align: middle;
				margin-left:4rem;

				@include breakpoint(tablet){
					width:6.2vw;
					height:6.2vw;
				}

				@include breakpoint(desktop){
					margin-left:1.5rem;	
					width:2.9vw;
					height:2.9vw;
				}

				i{
				  width: 50%;
				  height: 50%;
				  overflow: auto;
				  margin: auto;
				  position: absolute;
				  top: 0.3rem; left: 0.3rem; bottom: 0; right: 0;
				}
			}
		}
	}
}

.wrapper-results{
	margin-top:7rem;

	@include breakpoint(tablet){

	}

	@include breakpoint(desktop){
		margin-top:7rem;
	}
}