.results{
	margin:0 auto;
	width:87.63%;	

	@include breakpoint(tablet){
		width:84.63%;	
	}

	@include breakpoint(desktop){
		width: 79.47%;	
	}

	.breadcrumbs{
			position:relative;

			@include breakpoint(tablet){
			
			}

			@include breakpoint(desktop){
				left:6.2%;
				padding-top:4.5rem;		
			}

			span{

				@include breakpoint(tablet){
				
				}

				@include breakpoint(desktop){
					margin-left:0.8rem;

				}
			}
	}

	.section-title{
		position:relative;
		@include fontSize(52,32,32);
		font-weight:900;
		text-align: center;
		padding-top:11.1rem;
		letter-spacing:0em;
		line-height: calculateRem(48);

		@include breakpoint(tablet){
			padding-top:7.8rem;
		}

		@include breakpoint(desktop){
			
			padding-top:5.1rem;
			
		}
	}

	.search{
		position:relative;
		margin-top:6.5rem;

		@include breakpoint(tablet){
			margin-top:3.8rem;
		}

		@include breakpoint(desktop){
			margin-top:3.4rem;	
		}

		input{
			outline: none;
			border:1px solid $yellow;
			width: 100%;
			@include fontSize(42, 18, 32);
			padding:4.9rem 2.8rem;
			

			@include breakpoint(tablet){
				padding:2.5rem 4rem;
			}

			@include breakpoint(desktop){
				padding:5.6rem 8.5rem;
			}
		}

		i{
			position:absolute;
			@include fontSize(46, 21, 46);
			right:5%;
			top:4.5rem;

			@include breakpoint(tablet){
				right:4.8%;
				top:2.7rem;
			}

			@include breakpoint(desktop){
				right:8.5%;
				top:5.4rem;
			}
		}
	}

	.inner{
		padding-top:0.6rem;
		@include breakpoint(tablet){
			padding-top:4.5rem;
		}

		@include breakpoint(desktop){
			padding-top:0.5rem;
		}

		.container-1{
			width:100%;
			float:left;
			padding-top:6.5rem;
			@include breakpoint(tablet){
				width:51%;	
				padding-right:1.9%;
				padding-top:1rem;
			}

			@include breakpoint(desktop){
				width:51%;	
				padding-right:1.9%;
				padding-top:7.7rem;
			}
		}

		.container-2{
			width:100%;
			float:left;
			padding-top:6.5rem;
			@include breakpoint(tablet){
				width:49%;
				padding-top:1rem;	
			}

			@include breakpoint(desktop){
				width:49%;
				padding-top:7.7rem;		
			}
		}

		.article-body{

			.title{
				margin-top: 2.4rem;

				@include breakpoint(tablet){
					 margin-top: 0.9rem;

				}

				@include breakpoint(desktop){
					 margin-top: 3.2rem;	
				}
			}
		}

	}
}