.shp-faq{
	

	@include breakpoint(tablet){
		
	}

	@include breakpoint(desktop){
			
	}	

	.hero{
		position:relative;

		@include breakpoint(tablet){
		
		}

		@include breakpoint(desktop){
				
		}	

		&-img{

			width:100%;
			@include breakpoint(tablet){
				width:92.187%;
			}

			@include breakpoint(desktop){
				width:79.647%;
			}

			img{
				max-width: none;
				width: 100%;
			}
		}

		&-title{

			@include fontSize(40,32,70);
			line-height: calculateRem(42);
			letter-spacing: -0.025em;
			color:$white;
			font-weight: 900;
			position:absolute;
			left:18%;
			top:6.7%;
			text-transform: uppercase;

			@include breakpoint(tablet){
				line-height: calculateRem(32);	
				left:8%;
				top:49%;	
			}

			@include breakpoint(desktop){
				line-height: calculateRem(72);
				left:15.5%;
				top:40.5%;	
			}

		}

		&-text-box{

			width:100%;
			position:relative;
			padding-top:3.5rem;
			padding-left:4rem;
			padding-right:3rem;
			padding-bottom:4.2rem;
			
			@include breakpoint(tablet){
				width:49.479%;
				position:absolute;
				right:0;
				top:12.5%;
				padding-left:6rem;
				padding-right:4.5rem;
				padding-top:4rem;
				padding-bottom:3rem;
			}

			@include breakpoint(desktop){
				width:34.117%;
				right:0;
				top:22.6%;
				padding:0 8.4rem;
				padding-top:11.5rem;
				padding-bottom:12rem;

				

			}


			&--gray{
				background-color: $gray;
			}

			&--yellow{
				background-color:$yellow;
			}
		}

		&-text{
			@include fontSize(28,14,18);
			line-height: calculateRem(42);
			letter-spacing: 0.05em;
			color:$black;
			
			@include breakpoint(tablet){
				line-height: calculateRem(21);	
			}

			@include breakpoint(desktop){
				line-height: calculateRem(28);	
			}
		}
	}

	.breadcrumbs{
		position:relative;
		left:5%;
		@include breakpoint(tablet){
			left:5%;	
		}

		@include breakpoint(desktop){
			left:6.2%;
			margin-top:5rem;	
		}
	}

	.qa-list{
		margin: 0 auto;
   		width: 87.5%;
		padding-top:7.3rem;
		margin-bottom: 10rem;
		@include breakpoint(tablet){
			width:100%;
			padding-top:11.7rem;	
			margin-bottom: 5rem;
		}

		@include breakpoint(desktop){
			padding-top:0rem;
			margin-bottom: 10rem;
		}

		.section-title{
			@include fontSize(42,20,30);
			position:relative;
			font-weight:900;
			//font-family: Airways;
			padding-top:0rem;
			margin-bottom: 10rem;
			margin-left:0;

			@include breakpoint(tablet){
				padding-top:0rem;
				margin-left:3rem;
				margin-bottom:0rem; 
				top:10.5rem;
				
			}

			@include breakpoint(desktop){
				margin-left: 5.9rem;
				padding-top:6.3rem;
				margin-bottom:0rem; 
				top:15.3rem;
			}
			
			.subTitle{
				@include fontSize(45,20,30);
				letter-spacing:0em;
				display: block;
				letter-spacing:0em;
				//font-family: Airways;
				font-weight:400;
			}		
		}
		
		.mo-faq{
			&:nth-child(7), &:nth-child(10),&:nth-child(13){
			
				@include breakpoint(mobile){
					
					height: calculateRem(434);	
					float:left;
					width:49%;	
					margin-right:0%;
					margin-bottom: 3rem;

					.mo-faq--img{
						position:absolute;
						bottom:auto;
						left:0;
						top:0;
						width:100%;
						box-shadow: 0px 30px 35px -20px rgba(0,0,0,0.6);
					}

					.mo-faq--body{
						//float:right;
						width: 90%;	
						padding-top:90%;
						margin:0 auto;	
					}
				}
			}

			&:nth-child(11){	
				margin-right:2%;
			}
		}
		
	}
}