.test{
	@include breakpoint(mobile){
		width:100%;
		height:30%;
		background-color:yellow;
		display:block;
		margin:10px 0;
		padding:0;
	}

	@include breakpoint(tablet){
		background-color:green;
		float:left;
		width:50%;
	}

	@include breakpoint(desktop){
		background-color:blue;
		display:inline-block;
		white-space: no-wrap;
		width:25%;
	}
}



