$font-size-base: 10;

//------GLOBAL FONT SETTINGS
html {
  @include fontSizeVw($font-size-base, $font-size-base, $font-size-base);
}

@font-face {
    font-family: Airways;
    src: url('../assets/fonts/Airways.woff');
}


